.card__btn {
    display: block;
    margin-left: auto;
    border: none;
    background-color: #a65437;
    color: white;
    padding: 0.6em 1.2em;
    font-size: 1.1rem;
    border-radius: 0.7em;
    font-weight: 400;
    border: 0.1em solid rgb(117, 54, 9);
    transition: transform 100ms ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 1em #0004;
        background-color: #873e23;
    }
}